@import url(./style/cabecalho.css);
@import url(./style/banner.css);
@import url(./style/card.css);
@import url(./style/rodape.css);
:root {
    --cor-de-fundo-categorias: white;
    --cor-de-fundo-pagina: #042E4D;
}

body {
    background-color: #F82626;
}